<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <div class="heading" id="heading">
        <h1>
            <%= ListTitle %>
        </h1>
    </div>

    <div class="lists">
        <ul>
            <% for (let i = 0; i < newItem.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newItem[i] %></p>
                </div>
            <% } %>
        </ul>
    </div>

    <div class="add">
        <form action="/" method="post">
            <div class="input_btn">
                <input type="text" name="add" placeholder="Add New Item" required>
                <button type="submit" name="list" value=<%= ListTitle %>><i class="fas fa-plus"></i></button>
            </div>
        </form>
    </div>

    <!-- Rest of your code -->

</body>
</html>
